body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: var(--tg-theme-bg-color);
    background-image: var(--tg-theme-bg-color);
}

.container {
    max-width: 380px;
}

.inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 220px 220px 220px;
}

.img {
    width: 100px;
}

.item {
    text-align:center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgb(0, 255, 55);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;

    transition: background 2.s linear;
}

.btn:hover{
    background: lightcoral;
}

.usercard{
    text-align:center;
}
/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/
